@import "tailwindcss/base";
@import "mayarun/resources/fontello/css/fontello.css";

@font-face {
    font-family: "Ben Sen Handwriting";
    src: url("mayarun/resources/fonts/BenSenHandwriting.ttf") format("truetype");
}

#home {
    color: red;
    background: url('mayarun/resources/img/home/banner.png');
    box-shadow: none;
}