@font-face {
  font-family: "Ben Sen Handwriting";
  src: url("@mayarun/assets/fonts/BenSenHandwriting.ttf") format("truetype");
}

#home {
  color: red;
  background: url('@mayarun/assets/img/home/banner.png');
  box-shadow: none;
}