{% extends "layouts::default.twig" %}

{% block content %}
    <section id="contact">
        <div class="heading">
            <h4 class="heading-title">Contact Us</h4>
        </div>
        <div class="content">
            ...
        </div>
    </section>
{% endblock %}
