<!doctype html>
<html lang="en">
<head>
    {% include "blocks::metadata.twig" %}
</head>
<body>
    {% include "blocks::header.twig" %}

    <main id="primary">
        {% block content %}

        {% endblock %}
    </main>

    {% include "blocks::footer.twig" %}
</body>
</html>
