{% extends "layouts::default.twig" %}

{% block content %}
    <section id="home" class="tw-test bg-green-600">
        <div class="heading">
            <h4 class="heading-title">Home</h4>
        </div>
        <div class="content">
            <p>Welcome to Webpack Automation!</p>
        </div>
    </section>
{% endblock %}
